---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {% if post.categories.size > 0 %}
        {% capture categories_content %}
            Filed Under:
            {% for post_cat in post.categories %}{% if post_cat != post.categories[0] %}, {% endif %}<a href="/category_index#{{post_cat}}">{{ post_cat }}</a>{% endfor %}
        {% endcapture %}
    {% else %}
        {% assign categories_content = '' %}
    {% endif %}

    <p id="post-category-list">{{ categories_content }}</p>

    {% if post.tags.size > 0 %}
        {% capture tags_content %}
            Tagged:
            {% for post_tag in post.tags %}{% if post_tag != post.tags[0] %}, {% endif %}<a href="/tag_index#{{post_tag}}">{{ post_tag }}</a>{% endfor %}
        {% endcapture %}
    {% else %}
        {% assign tags_content = '' %}
    {% endif %}

    <p id="post-tag-list">{{ tags_content }}</p>

    {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
      <a href="{{ post.url }}">Read more...</a>
    {% else %}
      {{ post.content }}
    {% endif %}

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
